/* broadway-regular */
@font-face {
    font-family: "Broadway";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/broadway/broadway-regular.ttf");
    src: local("Broadway Regular"), local("Broadway-Regular"),
}